# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Python build
# =========================
dist/
build/
*.egg-info/

# =========================
# Local dev artifacts
# =========================
*.sqlite
*.db